@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
:root {
    --clr-light: #D2AB99;
    --clr-dark: #815355;
    --clr-accent: #523249;
    --ff-primary: 'Prompt', sans-serif;
}

html, 
body {
    font-family: var(--ff-primary);
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6,
.pimg7 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1 {
    background-image: url(images/img1.jpg);
    min-height: 100%;
}
.pimg2 {
    background-image: url(images/img2.jpg);
    min-height: 600px;
}
.pimg3 {
    background-image: url(images/img3.jpg);
    min-height: 600px;
}
.pimg4 {
    background-image: url(images/img4.jpg);
    min-height: 600px;
}
.pimg5 {
    background-image: url(images/img5.jpg);
    min-height: 600px;
}
.pimg6 {
    background-image: url(images/img6.jpg);
    min-height: 600px;
}
.pimg7 {
    background-image: url(images/img7.jpg);
    min-height: 600px;
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.ptext .border_trans {
    background-color: transparent;
    color: #fff;
    padding: 20px;
}
.light {
    background-color: var(--clr-light);
    color: rgb(255, 255, 255);
}
.dark {
    background-color: var(--clr-dark);
    color: #ddd;
}
.accent {
    background-color: var(--clr-accent);
    color: #ddd;
}
h2, p {
    font-family: var(--ff-primary);
}
h2 { 
    font-size: 200%;
    font-weight: bold;
}
p{
    font-size: 120%;
    text-align: justify;
}

.light,
.dark,
.accent {
    margin: 0;
    text-align: center;
    padding: 5vw 10vw;
}
span {
    display: inline-block;
    min-width: 10vw;
}